@import "../../utilities.scss";

.shop-cart-container{
  background-color: $color-grey-light-1;

}
.cart-empty-div{
  height: 57vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 375px){
    height: 63vh;
  }
  @media screen and (min-width: 768px){
    height: 76vh;
  }
  @media screen and (min-width: 1024px){
    height: 66vh;
  }
  .cart-empty-p{
    font-size: 1.3rem;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
  }
}


