.navbar-nav ul li,
#basic-navbar-nav ul li {
  cursor: pointer;
}
.navbar-brand {
  padding-bottom: 0;
}
.gridNavbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridItem {
  order: 3;
  @media (max-width: 991.98px) {
    order: 0;
  }
}
