@import '../../../utilities.scss';

.navbar-nav ul li,
#basic-navbar-nav ul li {
  cursor: pointer;
}
.navbar-brand {
  padding-bottom: 0;
}
.gridNavbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cart-image-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .count-items-cart{
    font-size: 12px;
    font-weight: bold;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    text-align: center;
  }
}
.gridItem {
  order: 3;
  @media (max-width: 991.98px) {
    order: 0;
  }
}