.container-filter {
    max-width: 30rem;
}

.accordion-button:not(.collapsed) { 
    background-color: #FFFFFF;
}

.buttons-categories {
    background-color: #0ACF83 !important;
    border: none !important;
    border-radius: 10px !important;
    

}

.apply {
    width: 100%;
    margin: 0;
    
}



