.icon_div{
    padding: .1rem;
}

.github_icon :hover{
  color: #7F7F7F;  
}

.linkedin_icon :hover{
    color: #7F7F7F;  
}

.loading-div{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.746);

}