@import "../../utilities.scss";

.container-img{
  background-color: #fff;
  height: auto;
  width: 6vw;
  padding: 0.5rem 2.5rem;
  border-radius: 0.25rem;
}

.container-main-img{
  background-color: #fff !important;
  border-radius: 0.25rem;
  margin-right: 4rem;
}

.hover-style {
  cursor: pointer;
  transform: scale(0.9);
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.zoom {
  &:hover {
    cursor: zoom-in;
  }
}

.button-back {
  border: none;
  width: 10vw;
  text-align: start;
  color: $primary-color !important;
  &:hover {
    background-color: transparent;
    color: #07a86a !important;
  }
}
