@import "../../../../utilities.scss";

.card-product {
    border-radius: 0.25rem;
    border-color: transparent;
    }
    
    .card img {
        border-radius: 0.25rem;
    }

    .card .card-subtitle{
        color: $primary-color; 
    }
    
    .d-flex{
        @media screen and (max-width:360px){
            display: block !important;
        }
    }

    .card .card-title{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        } 
        
        