.card-footer svg{
    margin-bottom: 4.5px;
}

.card{
border-radius: 15px;
border-color: transparent;
}

.card img{
    padding: 3px;
}


.container{
    background-color: turquoise;
    padding-top: 10px;
    padding-bottom: 10px;
}