
.card{
border-radius: 15px;
border-color: transparent;
}

.card img{
    border-radius: 15px;
}

.d-flex{
    @media screen and (max-width:360px){
        display: block !important;
    }
}

.card-title{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    } 

