@import '../../../../utilities.scss';

.card-product{
border-radius: 0.5rem;
border-color: transparent;
    &:hover{
        box-shadow: 0 .5rem 1rem rgba(black, .15);
}
}

.card img{
    border-radius: 0.5rem;
}

.d-flex{
    @media screen and (max-width:360px){
        display: block !important;
    }
}

.card-title{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    } 

.category-subtitle{
color: $primary-color !important;
    }