.footer{
  background-color: #fff !important;

}

.list-group-item {
  border: none;
  background-color: transparent;
  margin-bottom: 0.5rem;
}

//remove the background of the container
.container {
  background: transparent;
}
