@import '../../utilities.scss';

.container-single-product-carousel{
  height: 100%;
  display: grid;
  background-color: $color-grey-light-2;
}

.single-product-image-div{
  height: 350px;
  width: 93%;
  background-color: #fff;
  display:flex;
  border-radius: 1rem;
  
  .single-product-image{
    max-width: 80%
  }
}

.single-product-description-div{
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 2rem 2rem 0 0;
  text-align: justify;
  line-height: 2rem;
}

.single-product-category{
  margin: 0 .5rem;
  color: $primary-color;
}
.single-product-title{
  margin: 0 .5rem;
  // font-family: $title-font-family;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: black;

}

.nav-link{
  border: none !important;
  color: black;
  background-color: transparent !important;
}
.nav-item >.active{
  border-bottom: 2px solid green !important;
}
.nav-tabs{
  border: none;           
}
.nav-link:hover{
  color: green;
  
}