$primary-color: #0ACF83;
$color-grey-light-1: #F6F6F6;
$color-grey-light-2: #F3F3F3;
$color-yellow-star:#FFC120;
$primary-font-family: 'DM Sans', sans-serif;
$title-font-family: 'Montserrat', sans-serif;